.message__input {
    display: flex;
    margin: 1em;

}

.message__box {
    background-color: #4a6163;
    color:#fff8dc;
    font-family: 'Libre Baskerville', serif;
}

.message__save--btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2em;
    padding-right: 2em;
}

.privateMessage {
    display: flex;
    justify-content: flex-end;
}
button.privateMessage-bttn{
    background-color: #4a6163;
    color: #fff;
    border-radius: .25rem;
}

.btn__user__name {
    background-color: #007BFF;
    border-radius: 12px;
    font-size: 20px;
    font: bold;
}
button.saveMessage-bttn{
    background-color:#f17a7e;
    border-radius: .25rem;
}