.article-list {
    display: flex; 
    flex-direction: column-reverse;
    
}
button.new-article-bttn{
    background-color: #4a6163;
    color: #fff;
    border-radius: .25rem;
}
/* button {
    background-color: #f17a7e;
    color: #E2EDDD;
    width: 200px;
    border-radius: .25rem;
} */
