.mainCard {
background-color: #4a6163;
margin: 10px;
border-radius: .25rem;
font-family: 'Libre Baskerville', serif;
}
button.newEvent-bttn{
    background-color: #4a6163;
    color: #fff;
    border-radius: .25rem;
}

button.eventDelete-bttn{
    background-color: #4a6163;
    color: #fff;
    border-radius: .25rem;
}
button.eventEdit-bttn{
    background-color: #f17a7e;
    color: #fff;
    border-radius: .25rem;
}