/* Author: Bryson Goins. The purpose of this module is to style the Task components */

.taskTracker {
    display: flex;
    flex-direction: column;
}

.taskTopBar {

    padding: 10px;
}

button.addTask-bttn{
background-color: #4a6163;
color: #fff;
border-radius: .25rem;
font-family: 'Libre Baskerville', serif;      
}

.listAllTasks {
    display: flex;
    flex-direction: column;
    background-color: #4a6163;
    align-items: center;
    width: 60%;
    align-self: center;
    border: 1px black solid;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px 5px #4a6163;
}

.taskCard {
    background-color:cornsilk;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}

.taskCard h5, .taskCard h4 {
    width: 200px;
}

.taskCard input {
    margin-left: 10px;
}

.btnBox {
    display: flex;
    margin-right: 10px;
}
h2.taskForm__title{
    color:#4a6163;
    font-family: 'Libre Baskerville', serif; 
}
button.cancel-bttn{
    background-color: #4a6163;
    color: #fff;
    border-radius: .25rem;
  }
  button.saveTask-bttn{
    background-color: #f17a7e;
    color: #fff;
    border-radius: .25rem;
  }
  button.taskDelete-bttn{
    background-color: #4a6163;
    color: #fff;
    border-radius: .25rem;
  }
  button.taskEdit-bttn{
    background-color: #f17a7e;
    color: #fff;
    border-radius: .25rem;
  }