/* Author: Micaela Colpi
Purpose: styling for FriendCard.js */
div.card-content{
    height: 6rem;
    border-radius: .25rem;
}
h3{
    font-family: 'Libre Baskerville', serif;
    color: #E2EDDD;
}
div.friend-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 6rem;
    word-wrap: break-word;
    background-color: #4a6163;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: .25rem;
    margin: 10px;
}

button.delete-bttn{
    border-radius: .25rem;
    font-family: 'Libre Baskerville', serif;
}

h2.friend-name{
    color:#4a6163;
  font-family: 'Libre Baskerville', serif;
}
