/* Author: Micaela Colpi
Purpose: styling for FriendForm.js */
h2.friendForm__title{
    color:#4a6163;
  font-family: 'Libre Baskerville', serif;
}
button.saveFriend-btn{
    background-color: #f17a7e;
    color: #E2EDDD;
    width: 200px;
    border-radius: .25rem;
}
label.friendLabel{
    color:#4a6163;

}