/* Author: Bryson Goins, Micaela. The purpose of this module is just to style the private messaging components */

.sentMsg {
    background-color: greenyellow;
    width: 55%;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    align-self: flex-end;
}

.receivedMsg {
    background-color: #f17a7e;
    width: 55%;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

.messagesContainer {
    padding: 15px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.PMcontainer {
    background-color: cornsilk;
    width: 60%;
    margin-bottom: 15px;
    margin: auto;
    margin-top: 30px;
    border: black solid 2px;
}

.inputContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4a6163;
    border-radius: .25rem;
}

.nameOfSender {
    font-weight: bold;
}

#userDropdown {
    height: 35px;
}

#PMinputField {
    background-color: cornsilk;
    border: solid black 2px;
}

#sendButton {
    height: 35px;
    width: 80px;
    background-color:#f17a7e;
    border-radius: .25rem;
}